.testimonials-horizontal {
    display: none;

    .swiper {
        height: 100%;
        width: 100%;
        padding: 30px 0;
    }


    @include mobileXs {
        display: block;
    }

}


.testimonials__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    overflow: hidden;
    margin: 0 -10px;

    @include mobileXs {
        display: none;
    }
}


.testimonials__swiper {
    height: 900px;

    @include mediaLaptop {
        height: 600px;

    }

    .swiper-slide {

        height: 357px !important;
        padding: 0 10px 32px;

        &>* {
            height: 100%;

        }

        @include mediaLaptop {
            height: 400px !important;
           
        }

    }
}


/*@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }

    95% {
        transform: translateY(-50%);
        opacity: 1;
        filter: blur(0);
    }

    97% {
        transform: translateY(-50%);
        opacity: 0;
        filter: blur(10px);
    }

    98% {
        transform: translateY(0%);
        opacity: 0;
        filter: blur(10px);
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
        filter: blur(0);
    }
}*/

// .smooth-transition {
//     -webkit-transition-timing-function: linear !important;
//     -o-transition-timing-function: linear !important;
//     transition-timing-function: linear !important;
// }